@model IEnumerable<HealthUp.Models.PlanoTreino>


<table class="content-table">
    <thead>
        <tr>
            <th>
                Atribuído por:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumProfessorNavigation.NumProfessorNavigation.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @if (item.Ativo)
                    {
                        <span>Sim</span>
                    }
                    else
                    {
                        <span>Não</span>

                    }
                </td>

                <td>
                    @if (item.Contem.Any() == true)
                    {
                        <a asp-action="VerExerciciosSocio" asp-route-IdPlano="@item.IdPlano">Ver exercícios |</a> 

                    }
                    <a asp-action="AdicionarExercicioSocio" asp-route-IdPlano="@item.IdPlano">Adicionar exercício</a> |
                    <a asp-action="Delete" asp-route-IdPlano="@item.IdPlano">Apagar</a>

                    @if (item.Ativo == false)
                    {
                        <span>
                            <a asp-action="TornarPlanoAtivo" asp-route-IdPlano="@item.IdPlano"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-update="#target"
                               data-ajax-mode="replace"> | Tornar este plano ativo</a>
                        </span>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="target"></div>
