@model IEnumerable<HealthUp.Models.Contem>

@{
    ViewData["Title"] = "Lista de exercícios";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h1>Lista de exercícios</h1>
    <hr />
    <br />
    <table class="content-table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.IdExercicioNavigation.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdExercicioNavigation.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdExercicioNavigation.Fotografia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdExercicioNavigation.Video)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumRepeticoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PeriodoDescanso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantidadeSeries)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdExercicioNavigation.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdExercicioNavigation.Descricao)
                    </td>
                    <td>
                        <img src="~/Ficheiros/@item.IdExercicioNavigation.Fotografia" height="100" width="100" />   
                    </td>
                    <td>
                        <video width="320" height="240" controls>
                            <source src="~/Ficheiros/@item.IdExercicioNavigation.Video" type="video/mp4">
                        </video>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.NumRepeticoes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PeriodoDescanso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantidadeSeries)
                    </td>
                    <td>
                        <a asp-action="ApagarExercicio" asp-route-id="@item.IdPlano" asp-route-PlanoId="@ViewBag.PlanoId">Apagar</a> |
                        <a asp-action="EditarExercicio" asp-route-IdExercicio="@item.IdExercicio" asp-route-IdPlano="@ViewBag.PlanoId">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>