
@{
    ViewData["Title"] = "Caixa de saída";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


@{
    var text = "";
}

@if (ViewBag.Arquivadas == true)
{
    text = "Caixa de saída de mensagens arquivadas";
}
else
{
    text = "Caixa de saída";
}
<div class="container">
    <h1>@text</h1>
    <hr />
    <br />
    <p>
        @if (HelperFunctions.IsCurrentUserProfessor(Context) && HelperFunctions.DoesProfHaveStudents(Context))
        {
            <a class="primary-btn-msg" asp-action="EnviarMensagem">Enviar mensagens aos meus sócios</a>
        }
        @if (HelperFunctions.IsCurrentUserSocio(Context) && HelperFunctions.DoesSocioHavePT(Context))
        {
            <a class="primary-btn-msg" asp-action="EnviarMensagem">Enviar mensagem ao meu personal trainer</a>
        }
        <a class="primary-btn-msg" asp-action="CaixaEntrada">Caixa de entrada</a>
        @if (ViewBag.Arquivadas != true)
        {
            <a class="primary-btn-msg" asp-action="VerMensagensSaidaArquivadas">Ver mensagens de saída arquivadas</a>
            <a class="primary-btn-msg" asp-action="ArquivarMensagensSaida">Arquivar mensagens saída</a>

        }
        else
        {
            <span>
                <a class="primary-btn-msg" asp-action="CaixaSaida">Caixa de saída</a>
            </span>
        }

    </p>
    <table class="content-table">
        <thead>
            <tr>

                <th>
                    Para:
                </th>
                <th>
                    Enviada a:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdPessoaReceiverNavigation.Nome</td>

                    <td>@item.DataEnvio</td>

                    <td>
                        @if (ViewBag.Arquivadas == true)
                        {
                            @Html.ActionLink("Ver", "VerMensagem", new { IdMensagem = item.IdMensagem, arquivadas = true }, null)
                        }
                        else
                        {
                            @Html.ActionLink("Ver", "VerMensagem", new { IdMensagem = item.IdMensagem }, null)
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script>
  window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted ||
                         ( typeof window.performance != "undefined" &&
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});
</script>
