@model IEnumerable<HealthUp.Models.Aula>

@{
    ViewData["Title"] = "Aulas Que Leciono";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h1>Aulas que leciono</h1>
    <hr />
    <br />
    @if (Model.Any() == false)
    {
        <h3>Não leciona nenhuma aula de momento!</h3>
    }
    else
    {
        <table class="content-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lotacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoraInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaSemana)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FotografiaDivulgacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VideoDivulgacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lotacao)
                        </td>
                        <td>
                            @item.HoraInicio.ToString(@"hh\:mm")
                        </td>
                        <td>
                            @item.GetDiaSemana()
                        </td>
                        <td>
                            <img src="~/Ficheiros/@Html.DisplayFor(modelItem => item.FotografiaDivulgacao)" width="100" height="100" />
                        </td>
                        <td>
                            <video width="320" height="240" controls>
                                <source src="~/Ficheiros/@Html.DisplayFor(modelItem => item.VideoDivulgacao)" type="video/mp4">
                            </video>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>