@model IEnumerable<HealthUp.Models.SolicitacaoProfessor>

@{
    ViewData["Title"] = "AprovarPedidoProf";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h1>Lista de solicitações de professores</h1>
    <hr />
    <br />
    @if (Model.Any() == false)
    {
        <h3>Não há solicitações de momento!</h3>
    }
    else
    {
        <table class="content-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Professor.FirstOrDefault().NumProfessorNavigation.Nome) do Professor
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Professor.FirstOrDefault().NumCC) do Professor
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Socio.FirstOrDefault().NumSocioNavigation.Nome) do Sócio
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Socio.FirstOrDefault().NumCC) do Sócio
                    </th>

                    <th></th>
                </tr>
            </thead>


            <tbody>
                @foreach (var item in Model)
                {
                    int i = 0;
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Data)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Professor.ToList()[i].NumProfessorNavigation.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Professor.ToList()[i].NumCC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Socio.ToList()[i].NumSocioNavigation.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Socio.ToList()[i].NumCC)
                        </td>
                        <td>
                            <a asp-action="PedidoProf_Aprovado" asp-route-id="@item.IdSolicitacao">Aprovar</a> |
                            <a asp-action="PedidoProf_Rejeitado" asp-route-id="@item.IdSolicitacao">Rejeitar</a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</div>