@model IEnumerable<HealthUp.Models.PedidoSocio>
@{
    ViewData["Title"] = "AprovarSocios";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h1>Pedidos pendentes</h1>
    <hr />
    <br />
    @if (Model.Any() == false)
    {
        <h3>Não há pedidos de sócio!</h3>
    }
    else
    {
        <table class="content-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sexo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fotografia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telemovel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nacionalidade)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sexo)
                        </td>
                        <td>
                            <img src="~/Ficheiros/@Html.DisplayFor(modelItem => item.Fotografia)" height="200" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataNascimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telemovel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nacionalidade)
                        </td>

                        <td>
                            <a asp-action="AprovarSocio" asp-route-id="@item.NumCC">Aprovar</a> |
                            <a asp-action="RejeitarSocio" asp-route-id="@item.NumCC">Rejeitar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>