@model IEnumerable<HealthUp.Models.Pessoa>

@{
    ViewData["Title"] = "Suspender Utilizador";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h1>Suspender um Utilizador</h1>
    <hr />
    <br />
    <a class="primary-btn-msg" asp-action="LevantarSuspensao">Levantar suspensão</a>
    <table class="content-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumCC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fotografia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telemovel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nacionalidade)
                </th>

                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    <img src="~/Ficheiros/@Html.DisplayFor(modelItem => item.Fotografia)" height="100" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidade)
                </td>
                <td>
                    <a asp-action="SuspenderUtilizador_Selecionado" asp-route-id="@item.NumCC"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-update="#target"
                       data-ajax-mode="replace">Suspender</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div id="target"></div>
</div>