@model HealthUp.Models.Aula

@{
    ViewData["Title"] = "Apagar aula";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <br />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ValidoDe)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ValidoDe)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ValidoAte)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ValidoAte)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lotacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lotacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HoraInicio)
            </dt>
            <dd class="col-sm-10">
                @Model.HoraInicio.ToString(@"hh\:mm")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DiaSemana)
            </dt>
            <dd class="col-sm-10">
                @Model.GetDiaSemana()
            </dd>
            <dt class="col-sm-2">
                Criado por:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumAdminNavigation.NumCC) | @Html.DisplayFor(model => model.NumAdminNavigation.NumAdminNavigation.Nome)
            </dd>
            <dt class="col-sm-2">
                Professor:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumProfessorNavigation.NumCC) | @Html.DisplayFor(model => model.NumProfessorNavigation.NumProfessorNavigation.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FotografiaDivulgacao)
            </dt>
            <dd class="col-sm-10">
                <img src="~/Ficheiros/@Model.FotografiaDivulgacao" width="100" height="100" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VideoDivulgacao)
            </dt>
            <dd class="col-sm-10">
                <video width="320" height="240" controls>
                    <source src="~/Ficheiros/@Model.VideoDivulgacao" type="video/mp4">
                </video>
            </dd>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdAula" />
            <input type="submit" value="Apagar" class="btn-primary" />
        </form>
    </div>
</div>